@font-face {
  font-family: "FONTSPRING DEMO - The Seasons";
  src: url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff2') format('woff2'),
  url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff') format('woff');
}
/*Estilização do BODY do site*/
body {
  margin: 0;
  border: 0;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.logo {
  width: 12%;
  margin: 2px 2px -20px 10px;
}

header {
  background-color: #f9e9e9;
  position: relative;
}

/*Estilização da DIV do header*/
.divHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  height: 150px;
}

/*Estilização do MENU do site*/
nav {
  font-family: 'FONTSPRING DEMO - The Seasons';
  top: 70px;
  right: 0;
  display: inline;
  text-decoration: none;
}

nav li {
  font-family: 'FONTSPRING DEMO - The Seasons';
  display: flex;
  color: #b8696b;
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-decoration: none;
}

nav ul li {
  display: flex;
  align-items: center;
  text-decoration: none;
}

  
  /* Campo de busca com ícone */
.group {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #a05b5b;
  border-radius: 6px;
  padding: 4px 8px;
}
  
.group .icon {
  width: 18px;
  height: 18px;
  fill: #a05b5b;
  margin-right: 5px;
}
  
.group .input {
  border: none;
  outline: none;
  font-size: 14px;
}

  /*estiliação de Produtos*/
.produtos {
    align-items: left;
}

/*botão COMPRE AQUI*/
.btncompra{
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #b8696b;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #d18e9059;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #b8696b;
}
  
.btncompra:hover {
  color: #f9e9e9;
  box-shadow: inset 0 -100px 0 0 #b8696b;
}
  
.btncompra:active {
  transform: scale(0.9);
}
  
/*barra de PESQUISA*/
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}
   
.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #815253e5;
  transition: .3s ease;
}
   
.input::placeholder {
  color: #9e9ea7;
}
   
.input:focus, input:hover {
  outline: none;
  border-color: #b8696b;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
   
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
  
/*Estiliazção dos botões do menu*/
.botao {
  outline: 0 !important;
  border: 0 !important;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#b8696b;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.botao:hover {
  transform: translateY(-3px);
}

nav a {
  text-decoration: none;
  color: inherit;
}

/*Etilização do main*/
main {
  text-align: justify;
  font-size: large;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 150px;
}


/*Container dos cartões*/
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    padding-bottom: 20px;
    place-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin: auto;
    width: 70vw;
    align-items: stretch;

}

.card {
 width: 190px;
 height: 254px;
 margin: 0 auto;
 background-color: #F8FBFE;
 border-radius: 8px;
 z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* sombra só no hover */
  background-color: rgba(255, 255, 255, 0.05); /* opcional pra dar um glow leve */
  border-radius: 10px; /* também só no hover, se quiser */
}

.card img{
    width: 50%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.card h2{
    margin: 10px 0;
}

 /*Estilização do rodapé*/
footer {
  background-size: cover;
  background-position: center;
  background-color: #b8696b;
  padding-top: 80px;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.logo_rodape {
  position: absolute;
  top: -300px; /*sobe o cículo*/
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 120%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_rodape img{
  width: 1500%;
}

.conteudo_footer {
  padding-top: 40px;
}

.footer_menu a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.flag {
  width: 30px;
}

.social_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social_icons a {
  color: white;
  font-size: 24px;
  transition: color 0,3s;
}

.social_icons a:hover {
  color: rgb(197, 171, 171);
}

.copyright {
  text-decoration: none;
  color: white;
  font-family: "FONTSPRING DEMO - The Seasons";
}